<div class="main-content">

    <div class="section-content section-content-p30">

        <h4 class="category">Category: {{currentCategoryName }}</h4>
        <hr>

        <div class="container-fluid">
            <div class="row">
                <!--Loop over the collection of products-->
                <div *ngFor="let product of products" class="col-md-3">

                    <div class="product-box">
                        <a routerLink="/products/{{product.id }}" routerLinkActive="active-link">
                            <img src="{{ product.imageUrl }}" class="'img-responsive">
                        </a>

                        <a routerLink="/products/ {{ product.id }}" routerLinkActive="active-link">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <div class="price">{{ product.unitPrice | currency:'USD'}}</div>
                        <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>

                <!-- If products are empty-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Products Found
                </div>
            </div>


            <!--Begin footer-->
            <div class="footer-pagination">
                <div class="row justify-content-center align-items-center">
                            <div class="col-md-9 flex justify-content-center" style="padding-left:30%">
                                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize] = 5
                                    [boundaryLinks]="true" (pageChange)="listProducts()">
                                </ngb-pagination>
                            </div>

                            <div class="col-md-3 mt-0 mb-3" style="text-align: right;">
                                <span class="mr-2">Page Size </span>

                                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                    <option>2</option>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        


                </div>
            </div>

            <!--End Footer-->

        </div>

    </div>
</div>