<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units In Stock</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td class="align-middle">
                <img src="{{product.imageUrl}}" height="200"/>
            </td>
            <td class="table-info">{{product.name}}</td>
            <td class="table-success align-middle">{{product.unitPrice | currency: 'USD'}}</td>
            <td class="table-warning align-middle">{{product.unitsInStock}}</td>
        </tr>
    </tbody>
</table>